/* Set the scroll behavior of the page*/
html{
    scroll-behavior: smooth;
}
/* Set the font family and margin of the web page to zero*/ 
body{
    font-family: 'PT Sans', sans-serif;
    margin:0;
    background-image: url("../Images/Background.jpg");
    background-size: cover;
}
/*Font,colour and position of the h1 element set*/
h1{
    font-family: 'Press Start 2P', cursive;
    color:green;
    text-align:center;
    line-height:40px;
    margin-top:20vh;
}
/*Word seperation for the table set*/
table{
    line-height:5vh;
}
/*Table and title wrapper color,border style and position set*/
#info{
    color:white;
    border-style:double;
    width:30vw;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
/*button styles and position set*/
button{
    margin-top:5vh;
    margin-bottom: 5vh;
    padding:12px 28px;
    border-radius:12px;
    border:none;
    background-color:green;
    color:white;
    transition:0.5s;
}
/*button hover style set*/
button:hover{
    background-color:white;
    color:black;
}
/*footer postion and style set*/
footer{
    width:100vw;
    background-color:black;
    position:fixed;
    bottom:0;
    text-align: center;
    color:white;
}
/*footer link color set*/
footer a{
    color:green;
}
/*title made more responsive*/
@media all and (max-width:460px){
    h1{
        font-size: 1em;
        margin-top:10vh;
    }
    #info{
        width:60vw;
        margin-bottom:10vh;
    }
}
